@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  padding-right: 20px;
}

.container {
  margin-top: 20px;
  width: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

h1 {
  display: inline-block;
  padding-bottom: 5px;
  border-bottom: solid 2px rgb(103, 103, 252);
}

.btn {
  border: none;
  background-color: #fcdced;
  border-radius: 2px;
  padding: 10px;
  display: block;
  margin: 20px;
  color: #a4a4a7;
  font-weight: 900;
  font-size: 26px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.btn-active {
  padding: 15px;
  color: rgb(26, 26, 26);
}

button:focus {
  outline: none;
}

.info-container {
  width: 70%;
  border-left: solid 1px rgb(103, 103, 252);
  padding: 0px 0px 0px 30px;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.date {
  color: grey;
  border-bottom: solid 1px grey;
}

h4 {
  font-size: 22px;
  font-weight: 100;
}

.company {
  letter-spacing: 2px;
  padding: 10px;
  background-color: rgb(103, 103, 252);
  display: inline-block;
  margin: 0;
  border-radius: 5px;
}

h5 {
  color: white;
}

.texts {
  display: flex;
  align-items: center;
}

.texts p {
  padding: 5px;
}

.icon {
  color: grey;
}